/*
Selector as and eleement- WIll update the style of all the label selector.*/


h1{
	font-family: 'lobster', cursive;
	text-align: center;
}

hr{ overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;

}

 hr:after{content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #e6f2f2;
}


body{
	  font-family: 'Roboto', sans-serif;
	  font-size: 15px;	
	  background-color: #f2f7f7;
	}

li{font-size: 15px;
	font-family: 'Roboto', sans-serif;
}	

/* Education and Experience*/
/* Class selectors allow you to change multiple elements that are specifically coded*/
/* descendent selectors allow you to select certain elements with in a structure*/

.jumbotron{ background-color: #e6f2f2;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 25px;

}

.dates{ float: right;
	display: inline;
	font-size: 20px;

}

.work-dates{ float: left;
	/*display: inline;*/

}

.schools{text-align: left;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;

}

}

h4{color: #16332E; 
	text-align: left;
	}


.company{display: inline;
		font-size: 20px;
		font-family: 'Roboto', sans-serif;

}

.positions{display: inline;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
}

.lead{
	font-size: 15px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height: 1.25rem;
	padding-top: 1.0rem

}
/* ID tages allow you to single out an element*/

#hobbies{text-align: right;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;

}



